Flask[async]==2.3.2
Flask-JWT-Extended==4.5.2
Flask-SQLAlchemy==3.0.5
Werkzeug
Flask-Cors==4.0.0
watchdog
python-dotenv
openai
pyopenssl
duckduckgo_search
pyscord_storage
gunicorn
psycopg2
smtp2go
gevent

