Flask[async]==2.3.2
Flask-JWT-Extended==4.5.2
Flask-SQLAlchemy==3.0.5
Werkzeug==2.3.6
Flask-Cors==4.0.0
watchdog==3.0.0
python-dotenv
openai==0.27.8
pyopenssl
duckduckgo_search==3.8.5
pyscord_storage==2.0.3
gunicorn
psycopg2==2.9.7
smtp2go
gevent

